*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    background-color: #F3F4F6;
    font-family: "Roboto", sans-serif;


}
.start{
    background-color: #FFffff;
    display: flex;
    justify-content: space-e;
    align-items: center;
    height: 64px;
    width: 100%;
    box-shadow: 0px 16px 48px 0px #0000002D;
}
.words{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
}
.TwoButton{
    position: relative;
    display: flex;
    justify-content: center ;
    gap: 10px;
    margin-left: 1000px;
}
.blue{
    width: 96.02px;
    height: 40px;
    background-color: #3B82F6;
    color: #ffffff;
    border-radius: 5px;
    border: solid 1px black;
    transition: 0.3s;

}
.blue:hover{
     padding: 10px;
    transform: translateY(-10px);
}
.green{
    width: 124.82px;
    height: 40px;
    background-color: #22C55E;
    color: #ffffff;
    border-radius: 5px;
    border: solid 1px black;
    transition: 0.3s;
}
.green:hover{
    padding: 10px;
    transform: translateY(-10px);
}
form{

    display: flex;
    justify-content: center;
    padding-top: 100px;
    
}
.main{
    text-align: center;
    padding-top: 20px;
    width: 448px;
    height: 680px;
    background-color: #ffffff;
box-shadow: 0px 0px 0px 0px #00000000;

box-shadow: 0px 0px 0px 0px #00000000;

box-shadow: 0px 4px 6px -1px #0000001A;

box-shadow: 0px 2px 4px -2px #0000001A;

margin-bottom: 100px;
border-radius: 8px;
}
.formInput{
    padding-top: 20px;
    text-align: left;
    margin-left: 20px;
}
input{
    height: 42px;
    width: 384px;
    border-radius: 6px;
    border: solid black 1px;
}
.register{
    margin-top: 20px;
    height: 40px;
    width: 384px;
    margin-right: 20px;
    background-color: #22C55E;
    color: #ffffff;
    border: 5px;
    border-radius: 6px;
    transition: 0.3s;
}
.title{
    font-weight: 700;
    font-size: 20px;
}
.register:hover{
      padding: 10px;
      transform: translateY(-10px);
}

